section#articles {
  display: flex;
  width: 80vw;
}

article.news {
  border-radius: 4px;
  border: 1px solid rgb(117, 110, 110);
  margin-right: 15px;
  margin-bottom: 10px;
}

article.news img {
  max-width: 300px;
}